<h3>Add new Product</h3>

<form method="POST" action="/product/add">
    <div>
        <label>Type</label>
        <input type="text" name="title">
    </div>

    <div>
        <label>Roaster</label>
        <select name="roaster" multiple="multiple">
            <% roasters.forEach(function(roaster){%>
                <option value="<%= roaster._id %>"><%= roaster.name %></option>
            <% }) %>
        </select>
    </div>

    <div>
        <label>Bean Type</label>
        <input type="text" name="Bean">
    </div>

    <div>
        <label>Organic?</label>
        <input type="text" name="Organic">
    </div>

    <div>
        <label>Weight (in grams)</label>
        <input type="text" name="Weight">
    </div>
    <input type="submit">
</form>
